{{template "base" .""}}

{{define "content"}}

<div class="container">
    <div class="row">
        </div class = "col">
            <h1>Thius is the home page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Molestie a iaculis at erat
                pellentesque adipiscing commodo. Suspendisse in est ante in nibh. Placerat
                vestibulum lectus mauris ultrices. Quis blandit turpis cursus in hac habitasse.
                Sit amet facilisis magna etiam tempor orci eu lobortis. Dolor sit amet
                consectetur adipiscing elit pellentesque. Egestas integer eget aliquet nibh.
                Nunc scelerisque viverra mauris in aliquam sem fringilla ut. Varius duis at
                consectetur lorem donec. Commodo ullamcorper a lacus vestibulum. Aliquam sem et
                tortor consequat. Tempor nec feugiat nisl pretium. Et tortor at risus viverra
                adipiscing. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in.
                
                Nisl tincidunt eget nullam non nisi est sit amet facilisis. Ipsum a arcu cursus
                vitae. Ultrices vitae auctor eu augue. Lectus arcu bibendum at varius vel
                pharetra vel. Leo duis ut diam quam. Vivamus at augue eget arcu dictum varius
                duis at consectetur. Duis at tellus at urna condimentum mattis pellentesque.
                Nunc mattis enim ut tellus elementum. Tortor dignissim convallis aenean et.
                Tempor orci dapibus ultrices in. Eu augue ut lectus arcu bibendum. Sem et tortor
                consequat id porta nibh venenatis. Lacinia at quis risus sed. Sed viverra tellus
                in hac habitasse platea. Vitae et leo duis ut diam. Sem viverra aliquet eget sit
                amet tellus. </p>
        </div>      
    </div>
</div>
{{end}}